[Unit]
Description=Blink
After=network-online.target redis.service
Wants=network-online.target redis.service

[Service]
Type=simple
ExecStart=/home/pi/.rubies/ruby-2.5.1/bin/ruby /home/pi/src/laserbonnet/scripts/blink.rb
User=root

[Install]
WantedBy=multi-user.target
