[Unit]
Description=Laserbonnet
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStartPre=/home/pi/src/laserbonnet/scripts/make_fifo.sh
ExecStart=/usr/bin/python /home/pi/src/laserbonnet/scripts/joyBonnet.py > bonnet_pipe
Restart=no
User=pi
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
