[Unit]
Description=JoyBonnet
After=network-online.target refresh.service
Wants=network-online.target refresh.service

[Service]
ExecStart=/usr/bin/python /home/pi/src/laserbonnet/scripts/joyBonnet.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
