[Unit]
Description=Laserbonnet
After=network-online.target joybonnet.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -lc /home/pi/src/laserbonnet/scripts/start.sh < bonnet_pipe
WorkingDirectory=/home/pi/src/laserbonnet
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
Restart=no
User=pi
EnvironmentFile=/home/pi/src/laserbonnet/.env

[Install]
WantedBy=multi-user.target
