[Unit]
Description=Laserbonnet
After=network-online.target joybonnet.service blink.service
Wants=network-online.target

[Service]
ExecStart=/bin/bash -lc /home/pi/src/laserbonnet/scripts/start.sh
WorkingDirectory=/home/pi/src/laserbonnet
Restart=always
User=pi
EnvironmentFile=/home/pi/src/laserbonnet/.env

[Install]
WantedBy=multi-user.target
