[Unit]
Description=Refresh
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/pi/src/laserbonnet/scripts/refresh.rb
User=root

[Install]
WantedBy=multi-user.target
